<div class="roundedcornr_box">
   <div class="roundedcornr_top"><div></div></div>
      <div class="roundedcornr_content">
        <h1>Movie Night at the Loft</h1>
        <p>Charles, Jeremy Lise and KC are pleased to present (semi) regular viewings of popular and great films.</p>
      </div>
   <div class="roundedcornr_bottom"><div></div></div>
</div>

<% if !@showing_today.nil? %>
<div class="roundedcornr_box left">
   <div class="roundedcornr_top"><div></div></div>
      <div class="roundedcornr_content">
        <h1>Showing Tonight</h1>
          <p>You're in luck! You can come <strong>today</strong> and watch <strong><%= @showing_today.film.title %></strong>
					   at <strong><%= @showing_today.scheduled_at.to_s(:time) %></strong>.<br />
					   <% if Time.now < @showing_today.scheduled_at %>
						   <br />
							 That's in <strong><%= distance_of_time_in_words(Time.now, @showing_today.scheduled_at) %></strong>. Don't forget to bring beer.
				     <% elsif (Time.now > @showing_today.scheduled_at) and (Time.now - @showing_today.scheduled_at) < 2.hours  %>
						   <br />
							 Better hurry! You're late and Charles hates that. You should also stop for some beer to smooth things over.
						 <% end %>
					</p>
					<p><a href="javascript:void(0);">Invite a friend!</a></p>
      </div>
   <div class="roundedcornr_bottom"><div></div></div>
</div>
<% end %>

<div class="roundedcornr_box left">
   <div class="roundedcornr_top"><div></div></div>
      <div class="roundedcornr_content">
        <h1>Previous Showings</h1>
        <p>These are some of the hot titles we've watched recently:</p>
        <ul>
        <% @recent_viewings.each do |viewing| %>
        <li><%= "#{link_to viewing.film.title, viewing.film.imdb_permalink},
                 #{viewing.film.released_on.year} by #{viewing.film.director} 
                 <em>(last shown: #{viewing.scheduled_at.to_date.to_s(:short)})</em>"%></li>
        <% end %>
        </ul>
      </div>
   <div class="roundedcornr_bottom"><div></div></div>
</div>

<%= render :partial=>"suggestion" %>

<%= render :partial=>"invite_a_friend" %>
