<h1>Listing viewers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
  </tr>

<% @viewers.each do |viewer| %>
  <tr>
    <td><%=h viewer.name %></td>
    <td><%=h viewer.email %></td>
    <td><%=h viewer.active %></td>
    <td><%= link_to 'Show', viewer %></td>
    <td><%= link_to 'Edit', edit_viewer_path(viewer) %></td>
    <td><%= link_to 'Destroy', viewer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New viewer', new_viewer_path %>