<p>
  <b>Name:</b>
  <%=h @viewer.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @viewer.email %>
</p>

<p>
  <b>Active:</b>
  <%=h @viewer.active %>
</p>


<%= link_to 'Edit', edit_viewer_path(@viewer) %> |
<%= link_to 'Back', viewers_path %>