<h1>Editing viewing</h1>

<% form_for(@viewing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :viewing_film_ids %><br />
    <%= collection_select :viewing, :film_ids,
            Film.find(:all), :id, :title, {},
            :multiple => true,
            :size=>15,        
            :name => 'viewing[film_ids][]' %>
  <p>
    <%= f.label :scheduled_at %><br />
    <%= f.datetime_select :scheduled_at %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @viewing %> |
<%= link_to 'Back', viewings_path %>