<h1>New film</h1>

<% form_for(@film) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </p>
  <p>
    <%= f.label :released_on %><br />
    <%= f.date_select :released_on, {:start_year=>1920} %>
  </p>
  <p>
    <%= f.label :synopsis %><br />
    <%= f.text_area :synopsis %>
  </p>

  <p>
    <%= f.label :imdb_permalink %><br />
    <%= f.text_field :imdb_permalink %>
  </p>
  
  <p>
    <%= f.label :suggested_by %><br />
    <%= f.text_field :suggested_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', films_path %>