<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movie Nights @ the Loft: 5333 Casgrain</title>
  <%#= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'movies' %>
	
	
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.1' %>
	<%= javascript_include_tag 'jquery.blockUI.js' %>
	
</head>
<body>

<div id="left_pane">
	<div class="roundedcornr_box">
	   <div class="roundedcornr_top"><div></div></div>
	      <div class="roundedcornr_content">
          <h2><a href="javascript:void(0);" onclick="suggestion_lb();">Suggest a film</a></h2>
	      </div>
	   <div class="roundedcornr_bottom"><div></div></div>
	</div>
</div>

<p style="color: green"><%= flash[:notice] %></p>


<div id="right_pane">
  <%= yield %>
</div>

</body>
</html>
