<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Password:</b>
  <%=h @member.password %>
</p>

<p>
  <b>Email:</b>
  <%=h @member.email %>
</p>

<p>
  <b>Active:</b>
  <%=h @member.active %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>